{
  "name": "surplus",
  "displayName": "surplus",
  "publisher": "Surplus",
  "description": "Manage tasks, track expenses, and monitor investments within VS Code",
  "version": "0.0.3",
  "engines": {
    "vscode": "^1.96.0"
  },
  "categories": [
    "Other"
  ],
  "activationEvents": [
    "onStartupFinished"
  ],
  "main": "./out/extension.js",
  "icon": "icon.png",
  "contributes": {
    "viewsContainers": {
      "activitybar": [
        {
          "id": "surplus-sidebar",
          "title": "Surplus",
          "icon": "media/surplus.png"
        }
      ]
    }
  }
} 